/*.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
*/
.hover_img {
    background: white;
}
.hover_img a { 
    position:relative;
    background: white;
    overflow:auto;
}
.hover_img a:hover span {
    display:block; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.hover_img a span {
    position:absolute; 
    display:none; 
    z-index:99;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.hover_img a span img { width: 300px; }
.verbs img { width: 300px;}
.verbs {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

/*.hover_img a span {
    position:absolute; 
    display:none; 
    z-index:99;
}*/


.info {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    background-color: ghostwhite;
    margin-bottom: 10px;
}

.blockquote {
    padding: 5px 10px;
    margin: 0 0 10px;
    font-size: 14px;
    border-left: 3px solid #eee;
}

.mythumbnail {
    max-width: 100px;
    border-radius: 15%;
}

.hoverlarge {
    position:absolute; 
    display:none; 
    z-index:99;
    left: -400px;
    top: 400px;
    width: 400px;
    border:1px solid lightgray;
    border-radius: 15%;
    background-color: white;
}

td:hover .hoverlarge {
    display: block;
}

.img-div:hover .hoverlarge {
    display: block;   
}


.figure-caption {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.borderless td, .borderless th {
    border: none;
}

#countdown-wrap {
  width: 100%;
  height: 150px;
  //border: 1px solid black;
  padding: 0px 20px 0px;
  font-family: arial;
  max-width: 650px;
  //margin: 20px auto 20px;
}

#goal {
  font-size: 48px;
  text-align: right;
  //color: #FFF;
  @media only screen and (max-width : 640px) {
    text-align: center;  
  }
  
}

#glass {
  width: 100%;
  height: 20px;
  /*background: linear-gradient(to left,#4b2e83 0%,#4b2e83 33%, #e6e6e6 33%, #e6e6e6 100%);*/
  background: #e6e6e6;
  border-radius: 10px;
  float: left;
  overflow: hidden;
  text-align: left;
  color: #e6e6e6;
  font-size: 9pt;
}

#progress {
  float: left;
  width: 0%;
  transition-duration: 1s;
  height: 20px;
  /*background: #FF5D50;*/
  background: linear-gradient(to right, #62301A, #FEBF5F);
  z-index: 333;
  /*border-radius: 5px;*/
}
#progressSchool {
  float: left;
  width: 33.3%;
  transition-duration: 1s;
  height: 20px;
  background: #4b2e83;
  z-index: 333;
  text-align: center;
  border-right-color: #e6e6e6;
  border-right-width: .5px;
  border-right-style: solid;
  /*border-radius: 5px;*/
}

.goal-stat {
  width: 25%;
  //height: 30px;
  padding: 10px;
  float: left;
  margin: 0;
  //color: #FFF;
  
  @media only screen and (max-width : 640px) {
    width: 50%;
    text-align: center;
  }
}

.goal-number, .goal-label {
  display: block;
}

.goal-number {
  font-weight: bold;
}
